// GREY
@dark-grey: #222224;
@grey: #272728;
@light-grey: #383839;
@medium-grey: #515153;
@low-grey: #6a6a6d;
@very-light-grey: #acacac;
@text: #eeeeee;

// WHITE
@white: #FFFFFF;

// RED
@dark-red: #5B030B;
@red: #820511;
@very-red: #b30012;

// GREEN
@green: #0b5b03;
@very-green: #109705;

// TYPES
@normal: #9099A1;
@fighting: #CE4069;
@flying: #8FA8DD;
@poison: #AB6AC8;
@ground: #D97746;
@rock: #C7B78B;
@bug: #90C12C;
@ghost: #5269AC;
@steel: #5A8EA1;
@fire: #FF9C54;
@water: #4D90D5;
@grass: #63BB5B;
@electric: #F3D23B;
@psychic: #F97176;
@ice: #74CEC0;
@dragon: #0A6DC4;
@dark: #5A5366;
@fairy: #EC8FE6;
