<div fxLayout="column" fxLayoutAlign="center center" *ngIf="loaded">
  <div fxLayout="row" fxLayoutAlign="start center" class="table-container mat-elevation-z8">
    <div class="off-header" fxLayout="column" fxLayoutAlign="center center">
      <div *ngFor="let letter of 'Attacking'.split('')">
        {{ letter }}
      </div>
      <div style="margin-bottom: 20px;"></div>
      <div *ngFor="let letter of 'type'.split('')">
        {{ letter }}
      </div>
    </div>
    <table>  
      <thead>  
        <tr><th align="center" colspan="19" class="def-header">Defending type</th></tr>
        <tr>
          <th></th>
          <th scope="col" *ngFor="let type of getTypes()" [ngClass]="{'grey-cell': isHovered(type)}" (mouseover)="hoverHeader(type)" (mouseleave)="hoverHeader('')">  
            <img [src]="getTypeSrc(type)"> 
          </th>  
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let offType of getTypes()"> 
          <td align="center">
            <img class="off-img" [src]="getTypeSrc(offType)">
          </td> 
          <td *ngFor="let defType of getTypes()" align="center" class="cell" (mouseover)="hoverHeader(defType)" (mouseleave)="hoverHeader('')"
            [ngClass]="{'grey-cell': getPercent(offType, defType) === 0, 
                        'green-cell': getPercent(offType, defType) === 50, 
                        'red-cell': getPercent(offType, defType) === 200}">  
            {{ getMultiplier(offType, defType) }}
          </td>  
        </tr>  
      </tbody>  
    </table> 
  </div>
</div>