@import '../../styles/variables.less';

.small-text {
  color: @very-light-grey;
  font-size: 12px;
}

.type-container {
  margin-bottom: 20px;
}

th {
  max-width: 20px;
}

.type-img {
  position: relative;
  left: -5px;
}

.avatar {
  width: 40px;
  height: 30px;
}

.small-avatar {
  margin-right: -11px;
}

.avatar-container {
  display: flex;
}

.cell {
  font-size: 14px;
  background-color: @medium-grey;
  border-radius: 2px;
}

.cell-pogo {
  font-size: 12px;
}

.grey-cell {
  background-color: @dark-grey;
}

.red-cell {
  background-color: @red;
}

.very-red-cell {
  background-color: @very-red;
}

.green-cell {
  background-color: @green;
}

.very-green-cell {
  background-color: @very-green;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
}

.dropdown {
  border-radius: 5px;
  margin-right: 10px;
}

.dropdown:hover {
  cursor: pointer;
  background-color: @dark-grey;
}

.coverage-number {
  font-weight: 700;
  margin-left: 10px;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden;
}

.settings {
  margin-bottom: 50px;

  button {
    margin-top: 20px;
  }

  ::ng-deep .mat-form-field-flex {
    padding-top: 0;
    width: 50px;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }
}

.refresh-option {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 10px;
  
  .mat-icon {
    font-size: 18px;
    height: auto;
    width: auto;
  }
}

.refresh-option:hover {
  background-color: @grey;
}

.def-option-container {
  margin-top: 5px;
  font-size: 12px;
}

.off-coverage {
  margin-top: 30px;
}
