@import '../../styles/variables.less';

.small-text {
  color: @very-light-grey;
  font-size: 12px;
}

.type-container {
  margin-bottom: 10px;
}

th {
  max-width: 20px;
}

.type-img {
  position: relative;
  left: -5px;
}

.avatar {
  width: 40px;
  height: 30px;
}

.avatar-container {
  display: flex;
}

.cell {
  font-size: 14px;
  background-color: @medium-grey;
  border-radius: 2px;
}

.grey-cell {
  background-color: @dark-grey;
}

.red-cell {
  background-color: @red;
}

.very-red-cell {
  background-color: @very-red;
}

.green-cell {
  background-color: @green;
}

.very-green-cell {
  background-color: @very-green;
}