@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'styles/variables.less';

body{
  font-family: 'Nunito Sans', sans-serif;
  color: @white;
  background-color: @dark-grey;
  margin: 0;
}

// Progress Bar
.mat-progress-bar-buffer {
  background-color: white;
}

.mat-progress-bar-fill::after {
  background-color: @red;
}

// Main filter
.mat-form-field-underline {
  display: none;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: @very-light-grey;
}

.mat-input-element {
  caret-color: @very-light-grey;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: @very-light-grey;
}

.normal {
  color: @normal;
}
.fighting {
  color: @fighting;
}
.flying {
  color: @flying;
}
.poison {
  color: @poison;
}
.ground {
  color: @ground;
}
.rock {
  color: @rock;
}
.bug {
  color: @bug;
}
.ghost {
  color: @ghost;
}
.steel {
  color: @steel;
}
.fire {
  color: @fire;
}
.water {
  color: @water;
}
.grass {
  color: @grass;
}
.electric {
  color: @electric;
}
.psychic {
  color: @psychic;
}
.ice {
  color: @ice;
}
.dragon {
  color: @dragon;
}
.dark {
  color: @dark;
}
.fairy {
  color: @fairy;
}
