
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer mat-elevation-z8" mode="side" position="start">
    <app-side-bar-pokemon *ngIf="!isSideTeam && !isSideFusion" [pokemon]="pokemon" (close)="closeDrawer()"></app-side-bar-pokemon>
    <app-side-bar-team *ngIf="isSideTeam" [team]="team" (close)="closeDrawer()"></app-side-bar-team>
    <app-side-bar-fusion *ngIf="isSideFusion" [team]="team" (close)="closeDrawer()"></app-side-bar-fusion>
  </mat-drawer>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="40px" class="container">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <button *ngIf="team.length" mat-raised-button (click)="displayTeamStats()">Team Stats</button>
      <button *ngIf="getMode() == 1" mat-raised-button (click)="displayFusion()">Infinite fusion</button>
    </div>

    <div *ngIf="team.length > 0">
      <app-team-builder [team]="team.slice(0,3)" [opened]="opened" (remove)="removePokemon($event)" (change)="saveTeam()"></app-team-builder>
      <app-team-builder [team]="team.slice(3,6)" [opened]="opened" (remove)="removePokemon($event)" (change)="saveTeam()"></app-team-builder>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div class="filter mat-elevation-z8">
        <mat-form-field floatLabel="never">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
        </mat-form-field>
      </div>

      <div *ngIf="getMode() == 0" class="league mat-elevation-z8">
        <mat-form-field appearance="standard">
          <mat-select [(value)]="league" (selectionChange)="changeLeague()">
            <mat-option *ngFor="let league of leagues" [value]="league">{{ league.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="getLeagueError()" class="league-error">League not available</div>
      </div>
    </div>
    
    <mat-progress-bar mode="indeterminate" *ngIf="!loaded"></mat-progress-bar>

    <div>
      <div class="number-result" fxLayout="row" fxLayoutAlign="end center">{{ dataSource.filteredData.length }} results</div>
      <div class="mat-elevation-z8 table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
            <td mat-cell *matCellDef="let row"> 
              <div fxLayout="row" fxLayoutAlign="start center">
                {{ row.rank }}
                <img *ngIf="row.isShadow" class="logo-shadow" src="assets/symbols/shadow.png">
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
          </ng-container>
          
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let row"> {{ row.score }} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let row">
              <div fxLayout="row" fxLayoutAlign="start center">
                <img class="pokemon-icon" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getImageId(row.id) + '.png'">
                
              </div>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-column"> Name </th>
            <td mat-cell *matCellDef="let row"> 
              <div fxLayout="column" fxLayoutAlign="space-around start">
                <span>{{ row.name | titlecase }} </span>
                <span class="second-name">{{ row.nameFr | titlecase }} </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="padding-left"> Type </th>
            <td mat-cell *matCellDef="let row" [style]="getTypeColumnStyle(row)"> 
              <img *ngFor="let type of row.types" [src]="getTypeSrc(type)" [ngClass]="{'margin-left': row.types.length === 1}">
            </td>
          </ng-container>

          <ng-container matColumnDef="hp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HP </th>
            <td mat-cell *matCellDef="let row"> {{ row.hp }} </td>
          </ng-container>

          <ng-container matColumnDef="atk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Atk </th>
            <td mat-cell *matCellDef="let row"> {{ row.atk }} </td>
          </ng-container>

          <ng-container matColumnDef="def">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Def </th>
            <td mat-cell *matCellDef="let row"> {{ row.def }} </td>
          </ng-container>

          <ng-container matColumnDef="spAtk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SpA </th>
            <td mat-cell *matCellDef="let row"> {{ row.spAtk }} </td>
          </ng-container>

          <ng-container matColumnDef="spDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SpD </th>
            <td mat-cell *matCellDef="let row"> {{ row.spDef }} </td>
          </ng-container>

          <ng-container matColumnDef="speed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Spd </th>
            <td mat-cell *matCellDef="let row"> {{ row.speed }} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let row"> {{ row.total }} </td>
          </ng-container>

          <ng-container matColumnDef="moves">
            <th mat-header-cell *matHeaderCellDef> Moves </th>
            <td mat-cell *matCellDef="let row">
              <div fxLayout="column" fxLayoutAlign="start start">
                <div *ngFor="let move of row.recommendedMoves" class="move-name" [ngClass]="getMoveType(move, row.weatherBallType)">
                  {{ getMoveName(move) | titlecase }} 
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="addToTeam($event, row)" class="add-button">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns[getMode()]"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns[getMode()];" (click)="toggleSideNav(row)"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No pokemon found</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 20, 50]"></mat-paginator>
      </div>
    </div>
  </div>

  <!-- Display all pokemon images
  <div fxLayout="row wrap">
    <div *ngFor="let id of getIds()">
      {{ id }}
      <img class="pokemon-icon" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + id + '.png'">
    </div>
  </div>-->

</mat-drawer-container>